body{
	vertical-align: center;
	background-color: #767676;
}

#name{
	font-size:20px;
}
#mail{
	font-size: 20px;
	padding-bottom: 5px;
}
#textarea{
	font-size: 30px;
	color: grey;
}
.name, .mail{
	font-size: 25px;
	margin-bottom: 10px;
}
.submit{
	font-size: 30%;
}