body{
	background: url(file:///C:/Users/hp/Pictures/bulbasaur.jpg);
	text-align: left;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar{
		padding-bottom:10px;

	}
.nav_navbar-nav_navbar-right{
		padding: 10px;
		position: relative;
	}

#pix{
		border-radius: 50%;
		position: relative;
		float: left;
		width: 120px;
		padding-right: 10px;
	}
	h2{
		margin-left: 40px;
		color: white;
	}

p{
	margin-top: 50px;
	font-size:18px;
	text-align: justify;
	margin-left: 1.66px;
	color: white;
	font-weight: 500%;
	}
.hobbies, .prio {
	font-size:15px;
	margin-left: 13px;
	color: white; 
}

h3{
	text-align: left;
	padding-top: 20px;
	color: white;
}
#contact{
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #eee;
	margin: 0 200px 0 200px;
	}
#lists{
	padding-right: 10px;
	color: white;
}
